# Environments
.env
.venv
env/
venv/
__pycache__/

# Node/Frontend
node_modules/
.next/
build/

# AI & Data
ai_engine/chroma_db/
*.csv
*.sqlite3

# Backend / Python Specific
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/
dist/
*.egg-info/

# FastAPI / Uvicorn
.webassets-cache